body{
  font-family:"poppins" sans-serif ;
  text-align: center;
}

  

}
.orange-color{
  color:rgb(150, 103, 43)
}
section{
  display:flex;
}
.half-width{
  width:50%;
  padding-left: 2%;
}
.div{
  background-image: none;
  margin: 50px;
  
}
.link-button{
  text-decoration: none ;
  background-image: linear-gradient(orange, tomato );
  padding:  10px 40px;
  color: white;
  font-weight: 700;
  border-radius: 5px;
}
.row{
  display:flex;
  height: 88%;
  align-items: center;
}
.col{
  flex-basis:0%;
}
